/*
 * Copyright (C) 2015 Bruce Wilson
 *
 * Adafruit PiTFT 2.8" Trouchscreen
 *
 *   http://www.adafruit.com/products/1601
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */
/dts-v1/;
/plugin/;

/ {
	compatible = "ti,beaglebone", "ti,beaglebone-black";

	/* identification */
	part-number = "ADA-PiTFT28";
	version = "00A0";

	/* state the resources this cape uses */
	exclusive-use =
		/* the pin header uses */
		"P9.31",	/* spi1_SCLK        | RPI - 23 */
		"P9.29",	/* spi1_d0 MISO     | RPI - 21 */
		"P9.30",	/* spi1_d1 MOSI     | RPI - 19 */
		"P9.28",	/* spi1_cs0         | RPI - 24 */
		"P9.42",	/* spi1_cs1         | RPI - 26 */
		"P9.15",	/* gpio1_16 - RESET | RPI - VCC (?) */
		"P9.12",	/* gpio1_28 - DC    | RPI - 22 */
		"P9.14",	/* backlight        | RPI - VCC (?)*/
		"P9.25",	/* touch irq        | RPI - 18 */
		/* the hardware ip uses */
		"gpio1_16",
		"gpio1_28",
		"gpio3_21",
		"ehrpwm1A",
		"spi1";

	fragment@0 {
		target = <&am33xx_pinmux>;
		__overlay__ {
			bb_spi1_pins: pinmux_bb_spi1_pins {
				pinctrl-single,pins = <
					0x190 0x33	/* SCLK | INPUT_PULLUP  | MODE3 */
					0x194 0x33	/* MISO | INPUT_PULLUP  | MODE3 */
					0x198 0x13	/* MOSI | OUTPUT_PULLUP | MODE3 */
					0x19c 0x13	/* CE0  | OUTPUT_PULLUP | MODE3 */
					0x164 0x12	/* CE1  | OUTPUT_PULLUP | MODE2 */
				>;
			};

			lcd_ctrl_pinmux: lcd_ctrl_pins {
				pinctrl-single,pins = <
					0x040 0x17	/* RESET | OUTPUT_PULLUP | MODE7 */
					0x078 0x17	/* DC    | OUTPUT_PULLUP | MODE7 */
					0x1ac 0x37	/* T-IRQ | INPUT_PULLUP  | MODE7 */
				>;
			};

			pwm_bl_pins: pinmux_pwm_bl_pins {
				pinctrl-single,pins = <
					0x48 0x06       /* Backlight | PWM | MODE6 */
				>;
			};
		};
	};

	fragment@1 {
		target = <&spi1>;
		__overlay__ {
			status = "okay";
			pinctrl-names = "default";
			pinctrl-0 = <&bb_spi1_pins>;

			#address-cells = <1>;
			#size-cells = <0>;

			lcd@0{
				compatible = "fb_ili9341";
				reg = <0>;

				pinctrl-names = "default";
				pinctrl-0 = <&lcd_ctrl_pinmux>;

				spi-max-frequency = <25000000>;
				rotate = <270>;
				bgr;
				fps = <50>;
				buswidth = <8>;
				reset-gpios = <&gpio2 16 0>;
				dc-gpios = <&gpio2 28 0>;

				debug = <3>;
			};
		};
	};

	fragment@2 {
		target = <&epwmss1>;
		__overlay__ {
			status = "okay";
		};
	};

	fragment@3 {
		target = <&ehrpwm1>;
		__overlay__ {
			status = "okay";
		};
	};

	fragment@4 {
		target = <&ocp>;
		__overlay__ {
			backlight {
				compatible = "pwm-backlight";
				pinctrl-names = "default";
				pinctrl-0 = <&pwm_bl_pins>;
				status = "okay";

				pwms = <&ehrpwm1 0 500000 0>;
				pwm-names = "backlight";
				brightness-levels = <0 4 8 16 32 64 128 255>;
				default-brightness-level = <7>; /* index to the array above */
			};
		};
	};
};
